streamlit
python-dotenv
ffmpeg
ffmpeg-python
python-ffmpeg
gTTS
numpy
audio-recorder-streamlit
SpeechRecognition
huggingface_hub
langchain
Requests
streamlit_chat
#av
#gradio
#pyttsx3
#pyaudio
#pydub
#wave
#soundfile
#sounddevice
#googletrans
#langdetect
#openai
