streamlit
python-dotenv
ffmpeg
ffmpeg-python
python-ffmpeg
numpy
audio-recorder-streamlit
SpeechRecognition
huggingface_hub
langchain
Requests
streamlit_chat
gTTS
googletrans
#gTTS==2.2.2
#googletrans==3.1.0a0
#av
#gradio
#pyttsx3
#pyaudio
#pydub
#wave
#soundfile
#sounddevice
#langdetect
#openai
