streamlit
openai
python-dotenv
ffmpeg
ffmpeg-python
python-ffmpeg
gTTS
numpy
audio-recorder-streamlit
SpeechRecognition
langdetect
#av
#gradio
#pyttsx3
#pyaudio
#pydub
#wave
#soundfile
#sounddevice
#googletrans
